# Disable warnings about using POSIX-incompatible features
disable=SC2039

# Disable warnings about using echo with -n
disable=SC2039,SC2086

# Disable warnings about using source instead of .
disable=SC1091

# Disable warnings about using local
disable=SC2039,SC3043

# Disable warnings about using pipefail
disable=SC2039,SC3040

# Set shell dialect to bash
shell=bash

# Enable all checks by default
enable=all

# Exclude some directories
exclude=vendor,node_modules,.git